<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLSchemes</key>
	<array>
		<string>Yolo-Hackathon</string>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>snapchat</string>
		<string>bitmoji-sdk</string>
		<string>itms-apps</string>
	</array>
	<key>SCSDKClientId</key>
	<string>29f8da8c-4213-4a20-a476-3a4a338e6564</string>
	<key>SCSDKRedirectUrl</key>
	<string>Yolo-Hackathon://snap-kit/29f8da8c-4213-4a20-a476-3a4a338e6564</string>
	<key>SCSDKScopes</key>
	<array>
		<string>https://auth.snapchat.com/oauth2/api/user.display_name</string>
		<string>https://auth.snapchat.com/oauth2/api/user.bitmoji.avatar</string>
	</array>
</dict>
</plist>
